<% include ../partials/header %>
		
		<div class="sml-container center-block">
			<h1>About Me</h1>

			<%if(currentUser && currentUser.isAdmin){%>
			<div class="form-group">
				<%if(aboutme.length < 1){%>
					<button id="create-about" class="btn btn-md btn-primary">Create</button>
				<%} else {%>
					<button id="edit-about" class="btn btn-md btn-primary">Edit</button>
				<%}%>
			</div>
			<%}%>

			<%if(aboutme.length > 0){%>
				<div class="thumbnail" id="about-me">
					<img class="thumbnail-image img-responsive" src="<%=aboutme[0].image%>">
					<div class="caption">
						<p><%-aboutme[0].content%></p>
					</div>
				</div>
			<%}%>	

			<%if(currentUser && currentUser.isAdmin){%>
				<form class="form-group" id="create-about-form" method="POST" action="/about/create">
					<div class="form-group">
						<input class="form-control" type="text" name="about[image]" placeholder="image link">
					</div>
					<div class="form-group">
						<textarea class="form-control" rows="15" name="about[content]" placeholder="about me..."></textarea>
					</div>
					<div class="form-group">
						<button class="btn btn-md btn-primary form-control">Create</button>
					</div>	
				</form>

				<%if(aboutme.length > 0){%>
					<form class="form-group" id="edit-about-form" method="POST" action="/about/<%=aboutme[0]._id%>/edit?_method=PUT">
						<div class="form-group">
							<input class="form-control" type="text" name="about[image]" placeholder="image link" value="<%=aboutme[0].image%>">
						</div>
						<div class="form-group">
							<textarea class="form-control" rows="15" name="about[content]" placeholder="about me..."><%=aboutme[0].content%></textarea>
						</div>
						<div class="form-group">
							<button class="btn btn-md btn-primary form-control">Edit</button>
						</div>	
					</form>
				<%}%>
			<%}%>
			
		</div>
		
<% include ../partials/footer %>