<% include ../partials/header %>

	<div class="thumbnail">
		<h1><%=blog.title%></h1>
		<img src="<%=blog.image%>">
		<div class="caption">
			<p><%=blog.content%></p>
			<p><%=blog.author%></p>
			<p><%=blog.created.toDateString()%></p>

			<form action="/blogs/<%=blog._id%>/delete?_method=DELETE" method="POST">
				<button class="btn btn-xs btn-danger">Delete</button>
			</form>

			<a href="/blogs/<%=blog._id%>/edit" class="btn btn-xs btn-warning">Edit</a>
			
		</div>
	</div>

	<div class="well">

		<p>Comment</p>

		<form class="form-group" method="POST" action="/blogs/<%=blog._id%>/comment/new">
			<input class="form-control" type="text" name="text" placeholder="add comment">
			<button class="btn btn-md btn-default btn-primary">Comment</button>
		</form>

		<% blog.comments.forEach(function(comment){ %>
			<hr>
			<p><%=comment.author%></p>
			<p><%=comment.text%></p>
			<p><%=comment.created.toDateString()%></p>
			<form method="POST" action="/blogs/<%=blog._id%>/<%=comment._id%>/delete?_method=DELETE">
				<button class="btn btn-xs btn-danger">Delete</button>
			</form>
		<%});%>

	</div>

<% include ../partials/footer %>