<% include ../partials/header %>

	<div class="thumbnail blog-head">
		<h1><%=blog.title%></h1>
		<img id="blog-image" src="<%=blog.image%>">
		<div class="caption">
			<p><%-blog.content%></p>
			<span><strong><em><%=blog.author%></em></strong></span>
			<span class="pull-right"><%=blog.created.toDateString()%></span>
			<%if(currentUser && currentUser.username == blog.author){%>
				<div>
					<form class="inline-form" action="/blogs/<%=blog._id%>/delete?_method=DELETE" method="POST">
						<button class="btn btn-xs btn-danger">Delete</button>
					</form>
					<form class="inline-form" action="/blogs/<%=blog._id%>/edit">
						<button class="btn btn-xs btn-warning inline-form">Edit</button>
					</form>
				</div>
			<%}%>	
		</div>	
	</div>

	<div class="well">

		<p>Comment</p>

		<form class="form-group" method="POST" action="/blogs/<%=blog._id%>/comment/new">
			<div class="row">
				<div class="col-md-10">
					<input class="form-control" type="text" name="text" placeholder="add comment">
				</div>
				<div class="col-md-2">
					<button class="btn btn-md btn-default btn-primary center-block comment-button">Comment</button>
				</div>
			</div>	
		</form>

		<% blog.comments.forEach(function(comment){ %>
			<hr>
			<span><strong><%=comment.author%></strong></span>
			<span class="pull-right"><%=comment.created.toDateString()%></span>
			<p id="comment-text"><%=comment.text%></p>

			<%if(currentUser && currentUser.username == comment.author){%>
				<form class="form-group inline-form" id="edit-comment-form" method="POST" action="/blogs/<%-blog._id%>/<%=comment._id%>/edit?_method=PUT">
					<div class="row">
						<div class="col-md-10">
							<input class="form-control" type="text" name="text" value="<%=comment.text%>">
						</div>
						<div class="col-md-2">
							<button class="btn btn-md btn-warning inline-form">Edit</button>
							<a id="cancle-button" class="btn btn-md btn-danger">Cancle</a>
						</div>
					</div>	
				</form>
			<%}%>
			
			<%if(currentUser && currentUser.username == comment.author){%>
				<form class="inline-form" method="POST" action="/blogs/<%=blog._id%>/<%=comment._id%>/delete?_method=DELETE">
					<button id="delete-button" class="btn btn-xs btn-danger">Delete</button>
				</form>
				<button id="show-edit" class="btn btn-xs btn-warning inline-form">Edit</button>
			<%}%>
		<%});%>

	</div>

<% include ../partials/footer %>