<% include ../partials/header %>
<div class="sml-container center-block">

	<div class="thumbnail blog-head">
		<h1 class="inline-heading"><%=blog.title%></h1>
		<%if(currentUser && currentUser.username == blog.author){%>
			<div class="pull-right">
				<form class="inline-form" action="/blogs/<%=blog._id%>/edit">
					<button class="create-edit"><i class="fas fa-pencil-alt"></i></button>
				</form>
			</div>
		<%}%>	
		<img id="blog-image" src="<%=blog.image%>">
		<div class="caption">
			<p><%-blog.content%></p>
			<span><strong><em><%=blog.author%></em></strong></span>
			<span class="pull-right"><%=blog.created.toDateString()%></span>
		</div>	
	</div>

	<div class="well">

		<p>Comment</p>

		<form class="form-group" method="POST" action="/blogs/<%=blog._id%>/comment/new">
			<div class="row">
				<div class="col-md-10">
					<input class="form-control" type="text" name="text" placeholder="add comment">
				</div>
				<div class="col-md-2">
					<button class="btn btn-md btn-default btn-primary center-block comment-button">Comment</button>
				</div>
			</div>	
		</form>

		<% blog.comments.forEach(function(comment){ %>

			<hr>
			<span><strong><%=comment.author%></strong></span>
			<span class="pull-right"><%=comment.created.toDateString()%></span>
			<p id="comment-text"><%=comment.text%><span class="gray-text"> ~</span><button id="show-edit" class="link-btn">Edit</button></p>

			<%if(currentUser && currentUser.username == comment.author){%>
				<form class="form-group inline-form" id="edit-comment-form" method="POST" action="/blogs/<%-blog._id%>/<%=comment._id%>/edit?_method=PUT">
					<div class="row">
						<div class="col-md-10">
							<input class="form-control" type="text" name="text" value="<%=comment.text%>">
						</div>
						<div class="col-md-2">
							<button class="btn btn-md btn-warning inline-form edit-comment-btn">Edit</button>
						</div>
					</div>	
				</form>
				<a id="cancle-button" class="link-btn pull-right">Cancle</a>
			<%}%>
			
			<%if(currentUser && currentUser.username == comment.author){%>
				<form class="inline-form" method="POST" action="/blogs/<%=blog._id%>/<%=comment._id%>/delete?_method=DELETE">
					<button id="delete-button" class="link-btn">Delete</button>
				</form>
			<%}%>

		<%});%>

	</div>
</div>
<% include ../partials/footer %>